{% extends 'base.html' %}
{% load static %}

{% block about %}
<section class="ftco-section" id="section-about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 ftco-animate mb-5">
				<h4 class="ftco-sub-title w3-text-red">About Us</h4>
				<h2 class="ftco-primary-title display-4">blue studios</h2>
				<p>Blue photography and films is a hub of very innovative minds, passionate hearts and skillful hands with a mandate to entertain, inform and educate using creative methods of arts and entertainment. Amos Tanko runs the company and leads a viable team of content producers, directors, art directors, editors, cinematographers and other talents.</p>

				<p class="mb-4">Our team of professionals have been instrumental in the production and branding of your favourite documentaries, jingles and Free Medical Care for Society.

					We based in Jos, Nigeria. We also have a very strong network with stakeholders in the media, arts, broadcast and entertainment industry around Nigeria.
					We are committed to delivering quality and excellence.
					
				</p>
				<p><a href="about/" class="btn btn-secondary btn-lg w3-text-red">Continue Reading</a></p>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-6 ftco-animate img" data-animate-effect="fadeInRight">
				<img src="{% static 'images/dsc_0999.jpg' %}" alt="Free Template by Free-Template.co">
			</div>
		</div>
	</div>
</section>
{% endblock %}